Samples/SampleWinFormsApp/Service References/SampleService/StateMachineService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StateMachineService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50962/StateMachineService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50962/StateMachineService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50962/StateMachineService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStateMachineService_GetInitialState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInitialState" />
  </wsdl:message>
  <wsdl:message name="IStateMachineService_GetInitialState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInitialStateResponse" />
  </wsdl:message>
  <wsdl:message name="IStateMachineService_GetAvailableEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableEvents" />
  </wsdl:message>
  <wsdl:message name="IStateMachineService_GetAvailableEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IStateMachineService_GetNewState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewState" />
  </wsdl:message>
  <wsdl:message name="IStateMachineService_GetNewState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewStateResponse" />
  </wsdl:message>
  <wsdl:portType name="IStateMachineService">
    <wsdl:operation name="GetInitialState">
      <wsdl:input wsaw:Action="http://tempuri.org/IStateMachineService/GetInitialState" message="tns:IStateMachineService_GetInitialState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStateMachineService/GetInitialStateResponse" message="tns:IStateMachineService_GetInitialState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IStateMachineService/GetAvailableEvents" message="tns:IStateMachineService_GetAvailableEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStateMachineService/GetAvailableEventsResponse" message="tns:IStateMachineService_GetAvailableEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewState">
      <wsdl:input wsaw:Action="http://tempuri.org/IStateMachineService/GetNewState" message="tns:IStateMachineService_GetNewState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStateMachineService/GetNewStateResponse" message="tns:IStateMachineService_GetNewState_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStateMachineService" type="tns:IStateMachineService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInitialState">
      <soap:operation soapAction="http://tempuri.org/IStateMachineService/GetInitialState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableEvents">
      <soap:operation soapAction="http://tempuri.org/IStateMachineService/GetAvailableEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewState">
      <soap:operation soapAction="http://tempuri.org/IStateMachineService/GetNewState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StateMachineService">
    <wsdl:port name="BasicHttpBinding_IStateMachineService" binding="tns:BasicHttpBinding_IStateMachineService">
      <soap:address location="http://localhost:50962/StateMachineService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>